/*Adding new fonts*/
@font-face {
    font-family: 'Eczar-Regular';
    src: url('fonts/Eczar-Regular.ttf');
}

@font-face {
    font-family: 'Eczar-SemiBold';
    src: url('fonts/Eczar-SemiBold.ttf');
}

@font-face {
    font-family: 'Gupter-Regular';
    src: url('fonts/Gupter-Regular.ttf');
}

@font-face {
    font-family: 'Kalam-Regular';
    src: url('fonts/Kalam-Regular.ttf');
}

@font-face {
    font-family: 'KoHo-Regular';
    src: url('fonts/KoHo-Regular.ttf');
}

@font-face {
    font-family: 'KoHo-SemiBold';
    src: url('fonts/KoHo-SemiBold.ttf');
}

@font-face {
    font-family: 'MySoul-Regular';
    src: url('fonts/MySoul-Regular.ttf');
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* css styles for <header> */
::-webkit-scrollbar {
    width: 0;
}

header {
    width: 100vw;
    height: 63px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0.84;
}

/* css styles for <main> */
main {
    width: 100vw;
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

nav {
    margin-top: 0;
    padding-top: 0;
}

nav {
    display: inline-block;
}

nav > menu {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 1px;
}

header > nav > menu > li {
    display: inline-block;
}

header > nav > menu > li > a{
    margin-left: 28px;
    font-family: Eczar-Regular;
    color: white;
    font-size: 25px;
}

nav > menu > li > a {
    text-decoration: none;
    color: black;
}
header > nav > button{
    margin-left: 16px;
    margin-top: 7px;
    font-family: MySoul-Regular;
    color: #45ECFE;
    font-size: 40px;
    border: none;
    background-color: black;
    cursor: pointer;
}

.container {
    position: relative;
}

.proPic {
    position: relative;
    padding-top: 137px;
    padding-right: 36px;
    float: right;
    height: 560px;
    width: 432px;
    transform: scale(1.18);
}

.mainBackground {
    background-image: url("mainBGimage.png");
    background-size: cover;
    float: right;
    width: 100vw;
    height: 760px;
    opacity: 0.8;
}

.mainContent {
    position: relative;
}

.sec01article{
    position: absolute;
    padding-top: 255px;
    padding-left: 60px;
}

.sec01article > div > h4{
    color: white;
    opacity: 60%;
    font-family: Gupter-Regular;
    font-size: 32px;
    padding-bottom: 5px;
}

.sec01ani {
    overflow: hidden; /* Hide text overflow */
    border-right: .15em solid darkblue; /* Create a cursor effect */
    white-space: nowrap; /* Keep text on one line */
    margin: 0; /* Remove default margin */
    letter-spacing: .15em; /* Add letter spacing for legibility */
    animation: typing 10s steps(40) infinite;
}

@keyframes typing {
    0%, 100% {
        width: 0;
    }
    10%, 90% {
        width: 38%;
    }
    15%, 85% {
        width: 76%;
    }
}

.sec01article > h1:nth-of-type(1){
    color: white;
    font-size: 78px;
    font-family: KoHo-Regular;
    float: left;
    width: 50%;
}

.sec01article > h1:nth-of-type(2){
    color: #45ECFE;
    font-size: 78px;
    font-family: KoHo-Regular;
    float: left;
    width: 50%;
}

.sec01article > h1:nth-of-type(3){
    color: #45ECFE;
    font-size: 78px;
    font-family: KoHo-Regular;
}

.sec01article > h5{
    color: white;
    opacity: 60%;
    font-size: 20px;
    font-family: KoHo-Regular;
}

.sec01article > h5:nth-of-type(1){
    padding-top: 20px;
}

.sec01article > h5:nth-of-type(3){
    padding-bottom: 40px;
}

.sec01article > button:nth-of-type(1){
    background-color: #45ECFE;
    color: black;
    font-family: Eczar-Regular;
    font-size: 24px;
    padding-top: 5px;
    border-radius: 20px;
    width: 145px;
}

.downCV{
    background-color: grey;
    color: black;
    font-family: Eczar-Regular;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 20px;
    width: 200px;
}

.sec01article > button:nth-of-type(1):hover{
    background-color: #77d1ff;
    font-size: 25px;
    cursor: pointer;
}

.downCV:hover{
    background-color: #b3b3b3;
    font-size: 25px;
    cursor: pointer;
}

.sec02article{
    padding-bottom: 5vw;
}

.sec02article > div > h3{
    color: white;
    font-size: 44px;
    font-family: Eczar-Regular;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50vw;
}

.sec02article > div > h5{
    color: rgba(255, 255, 255, 0.76);
    font-size: 24px;
    font-family: KoHo-Regular;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-right: 90px;
    padding-left: 90px;
}

.section03{
    padding: 20px;
}

.section03 > div{
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 20px;
    width: 90%;
    height: 400px;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
}

.section03 > div > h3{
    color: white;
    font-size: 44px;
    font-family: Eczar-Regular;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
    padding-left: 10vw;
    padding-right: 20vw;
}

.section03 > div > div:nth-of-type(1){
    position: absolute;
    padding-left: 10vw;
    padding-top: 4vw;
    transform: scale(1.4);
}

.section03 > div > div:nth-of-type(2){
    position: absolute;
    padding-left: 24vw;
    padding-top: 4vw;
    transform: scale(1.4);
}

.section03 > div > div:nth-of-type(3){
    position: absolute;
    padding-left: 40vw;
    padding-top: 4vw;
    transform: scale(1.4);
}

.section03 > div > div:nth-of-type(4){
    position: absolute;
    padding-left: 54vw;
    padding-top: 4vw;
    transform: scale(1.4);
}

.section03 > div > h4{
    font-family: Kalam-Regular;
    color: rgba(40, 203, 220, 0.68);
    font-size: 40px;
    transform: rotate(-4.39deg);
}

.divDiviner3\&4{
    height: 0.2vw;
    width: 100%;
    background-color: black;
}

.divDiviner4\&5{
    height: 0.2vw;
    width: 100%;
    background-color: black;
}

.section04{
    padding: 20px;
}

.section04 > div{
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 20px;
    width: 90%;
    height: 1600px;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 1vw;
}

.section04 > div > h3{
    color: white;
    font-size: 44px;
    font-family: Eczar-Regular;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 8vw;
}

.slider {
    width: 900px;
    height: 510px;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section05 > div{
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 20px;
    width: 90%;
    height: 515px;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 1vw;
}

.section05 > div > article > h3{
    color: white;
    font-size: 44px;
    font-family: Eczar-Regular;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 10vw;
    padding-top: 1vw;
}

.section05 {
    color: #fff;
    padding: 20px;
}

.section05 h3 {
    margin-top: 0;
}

.section05 form {
    margin-top: 20px;
}

.section05 label {
    display: block;
    margin-bottom: 5px;
    font-family: Eczar-Regular;
    font-size: 18px;
}

.section05 input[type="text"],
.section05 input[type="email"],
.section05 textarea {
    width: 86.5%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Eczar-Regular;
    font-size: 20px;
    border-radius: 3px;
}

.section05 button {
    background-color: #000000;
    color: #1de0d1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.section05 button:hover {
    background-color: #071d26;
}

.section05 button:focus {
    outline: none;
}

.section05 nav {
    margin-top: 20px;
    background-color: #444;
    height: 50px;
}

.sectionGallery{
    padding: 20px;
}

.sectionGallery > div{
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 20px;
    width: 90%;
    height: 444px;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 1vw;
}

.sectionGallery > div > h3{
    color: white;
    font-size: 44px;
    font-family: Eczar-Regular;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 10vw;
    padding-top: 1vw;
    padding-bottom: 1.8vw;
}

.sectionGallery {
    text-align: center;
}

.slider2 {
    position: relative;
    width: 240px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.slides2 {
    display: flex;
    width: 400%;
    height: 300px;
    animation: slideAnimation2 65s infinite;
}

.slides2 img {
    width: 32%;
    height: auto;
    object-fit: cover;
}

@keyframes slideAnimation2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(0);
    }
}

footer{
    background-color: #041335;
    position: relative;
}

.sectionFooter > address > h2:nth-of-type(1){
    font-size: 60px;
    color: #45ECFE;
    font-family: MySoul-Regular;
    font-weight: lighter;
    float: right;
    padding-right: 2vw;
    padding-top: 1vw;
}


