body {
    margin: 0;
    position: relative;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0;
}

/*Adding new fonts*/
@font-face {
    font-family: 'Eczar-Regular';
    src: url('fonts/Eczar-Regular.ttf');
}

@font-face {
    font-family: 'Eczar-SemiBold';
    src: url('fonts/Eczar-SemiBold.ttf');
}

@font-face {
    font-family: 'Gupter-Regular';
    src: url('fonts/Gupter-Regular.ttf');
}

@font-face {
    font-family: 'Kalam-Regular';
    src: url('fonts/Kalam-Regular.ttf');
}

@font-face {
    font-family: 'KoHo-Regular';
    src: url('fonts/KoHo-Regular.ttf');
}

@font-face {
    font-family: 'KoHo-SemiBold';
    src: url('fonts/KoHo-SemiBold.ttf');
}

@font-face {
    font-family: 'MySoul-Regular';
    src: url('fonts/MySoul-Regular.ttf');
}

/* css styles for <main> */
main {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    background-color: grey;
}

nav {
    margin-top: 0;
    padding-top: 0;
}

nav {
    display: inline-block;
}

nav > menu {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 1px;
}

nav > menu > li {
    display: inline-block;
    margin-left: 28px;
    font-family: Eczar-Regular;
    font-size: 26px;
}

nav > menu > li > a {
    text-decoration: none;
    color: black;
}

